<?xml version="1.0" ?>
<robot name = "box">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="Grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
	<link name = "box">
		<inertial>
			<origin xyz="0 0 0"/>
			<mass value="1"/>
			<inertia ixx="0.026" ixy="0" ixz="0" iyy="0.026" iyz="0" izz="0.026"/>
		</inertial>
	<visual>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<geometry>
			<box size="0.56 0.56 0.56"/>
		</geometry>
		<material name="Blue"/>
  </visual>

	<collision>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<geometry>
			<box size="0.56 0.56 0.55"/>
		</geometry>
  </collision>

  <collision>
    <origin xyz="-0.28 -0.28 -0.28" rpy="0 0 0"/>
    <geometry>
      <sphere radius="1e-7"/>
    </geometry>
  </collision>

  <collision>
    <origin xyz="-0.28 0.28 -0.28" rpy="0 0 0"/>
    <geometry>
      <sphere radius="1e-7"/>
    </geometry>
  </collision>

  <collision>
    <origin xyz="0.28 -0.28 -0.28" rpy="0 0 0"/>
    <geometry>
      <sphere radius="1e-7"/>
    </geometry>
  </collision>

  <collision>
    <origin xyz="0.28 0.28 -0.28" rpy="0 0 0"/>
    <geometry>
      <sphere radius="1e-7"/>
    </geometry>
  </collision>


	</link>
</robot>
