<?xml version="1.0"?>

<model>
  <name>Sideways Pendulum</name>
  <version>1.0</version>
  <sdf>sideways_pendulum.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    A sideways pendulum used for testing an accelerometer attached to the
    pendulum's swing arm. Note that the accelerometer is not actually in the
    SDF. It is programmatically added by code in
    accelerometer_example_diagram.cc.
  </description>
</model>
